body, body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', Arial sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    .about-business__state-image,
    .info__template  {
        display: none;
    }
    
    .info .container {
        justify-content: space-around;
    }

    .container .about-business__sponsors-list {
        border: none;
    }

    .line-first::before,
    .line-first::after,
    .line-second::before,
    .line-second::after,
    .line-third::before,
    .line-third::after {
        display: none;
    }

    .stages__video-wrapper {
        display: none;
    }

    .stages__block .stages__content {
        min-width: 100%;
    }
}


.container {
    max-width: 1170px;
    margin: 0 10%;
    /* outline: 1px solid palevioletred; */
}

.header .container {
    /* outline: 1px solid greenyellow; */
    height: 90px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__nav-wrapper {
    min-width: 540px;
}

.nav__item a {
    color: #0a1c51;
    padding: 10px 10px;
    display: block;
    position: relative;
}

.nav__item a:after {
    position: absolute;
	top: 90%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #091852;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.nav__item a:focus:after,
.nav__item a:hover:after {
    opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.header__logo {
    min-width: 116px;
    min-height: 27px;
}

.header__link {
    /* display: flex; */
    min-width: 116px;
    min-height: 27px;
}

.info {
    background: url('../img/Layer_2.png') no-repeat;    
}

.contacts {
    display: flex;
    width: 100%;
    /* outline: 1px solid greenyellow; */
    /* justify-content: space-around; */
    flex-direction: row-reverse;
}

.contacts__list  {
    /* outline: 1px solid greenyellow; */
    display: flex;
    background-color: white;
    height: 50px;
    width: 100%;
    max-width: 655px;
    margin: 5px 110px 0px 110px;
    /* margin-top: 5px;
    margin-right: 110px; */
    position: relative;
}

.contacts__list::before {
    content: "";
    position: absolute;
    border: 25px solid transparent; 
    border-top: 25px solid white; 
    border-right: 25px solid white;
    top: 0;
    left: -50px;
    z-index: 10;
}

.contacts__list::after {
    content: "";
    position: absolute;
    border: 25px solid transparent; 
    border-top: 25px solid white; 
    border-left: 25px solid white;
    top: 0;
    right: -50px;
    z-index: 10;
}

.contacts__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contacts__item {
    color: #0a1c51;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.contacts__item:hover {
    color: #18eb05;
}

.contacts__item-wrapper {
    display: flex;
}

.contacts__logo {
    margin-right: 15px;
    margin-top: 3px;
}

.contacts__item:first-child {
    margin-left: 30px;
}

.contacts__item:last-child {
    margin-right: 30px;;
}
 
.info .container,
.info .container a {
    color: white;
}

.info .container {
    display: flex;
    margin-top: 220px;
    flex-direction: row-reverse;
    /* padding-bottom: 130px; */
 }

.info__header {
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 40px;
}

.info__content {
    /* outline: 1px solid greenyellow; */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 550px;
    flex-wrap: wrap;
}

.info__template {
    width: 490px;
    flex-shrink: 0;
}

.info__buttons {
    margin-top: 60px;
    margin-bottom: 230px;
    display: flex;
    justify-content: left;
}

.info__button {
    display: inline;
    font-weight: bold;
    /* width: 160px; */
    padding: 5px 20px;
    border: 2px white solid;
    border-radius: 10px;
    margin-right: 30px;
}

.info__button:last-child {
    margin-right: 0;
}

.info__button:hover {
    background: rgba(0, 15, 54, 0.6);
    transition: all 0.3s;
}

.about-business__sponsors-list {
    /* outline: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 125px;
    background: white;
    list-style: none;
    border-bottom:  5px solid #858da9;
}

.about-business__sponsors-item {
    margin-bottom: 10px;
    width: 150px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-business__sponsors-item:hover {
    border: transparent;
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.about-business__sponsors-item:first-child:hover {
    box-shadow: 8px 10px 25px rgba(41, 52, 73, 0.5);
    -webkit-box-shadow: 8px 10px 25px rgba(41, 52, 73, 0.5);
    -moz-box-shadow: 8px 10px 25px rgba(41, 52, 73, 0.5);
}

.about-business__images {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: row;
    width: 100%;
    /* outline: 3px dotted skyblue; */
}

.about-business__state-image {
    margin-top: -650px;
    box-shadow: -14px -11px 16px 5px rgba(0,0,0,0.35);
    -webkit-box-shadow: -14px -11px 16px 5px rgba(0,0,0,0.35);
    -moz-box-shadow: -14px -11px 16px 5px rgba(0,0,0,0.35);
}

.about-business__content-wrapper {
    margin: 120px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.about-business__article {
    margin: 40px 0;
    max-width: 40%;
    color: #707070;
    display: flex;
    flex-direction: column;
}

.about-business__header {
    font-size: 30px;
    line-height: 45px;
    color: #0a1c51;
    margin-bottom: 20px;
}

.business-article__header {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    padding-bottom: 20px;
}

.business-article__paragraph {
    margin: 6px 0;
    font-size: 14px;
    line-height: 28px;
}

.about-business__records {
    display: flex;
    margin-top: 30px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.business-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.business-stats__number {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #0a1c51;
}

.feedback {
    width: 50%;
    max-width: 50%;
    min-width: 300px;
    max-height: 500px;
    background: #082362;
    padding: 30px;
}

.feedback__header {
    color: white;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
}

.feedback__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback__input {
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.feedback__form textarea {
    resize: none;
    font-family: inherit;
    color: black;
    font-size: 18px;
    line-height: 18px;
    padding-top: 10px;
    padding-left: 10px;
}

.feedback__input:focus,
.feedback__form textarea:focus {
    outline: transparent;
    box-shadow: 0 0 0 3px rgba(0%, 70%, 100%, 0.7);
}

.feedback__input::placeholder,
.feedback__form textarea::placeholder {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 14px;
}

.feedback__button {
    display: inline-block;
    width: 160px;
    height: 50px;
    font: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #0a1c51;
    background: white;
    margin: 20px 0;
}

.stages {
    background: #082362;
    color: white;
    width: 100%;
    overflow: hidden;
}

.line-first::before {
    content: '';
    position: absolute;
    top: -103px;
    left: -222px;
    width: 300px;
    height: 5px;
    background: #1f3770;
    transform: rotate(95deg);
    z-index: 0;
    transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -ms-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
}

.line-first::after {
    content: '';
    position: absolute;
    top: 70px;
    left: -280px;
    width: 200px;
    height: 5px;
    background: #1f3770;
    transform: rotate(-15deg);
    z-index: 0;
    transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -ms-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
}

.line-second::before {
    content: '';
    position: absolute;
    top: -43px;
    left: -150px;
    width: 280px;
    height: 5px;
    background: #1f3770;
    transform: rotate(95deg);
    z-index: 0;
    transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -ms-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
}

.line-second::after {
    content: '';
    position: absolute;
    top: 130px;
    left: -280px;
    width: 264px;
    height: 5px;
    background: #1f3770;
    transform: rotate(-15deg);
    z-index: 0;
    transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -ms-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
}

.line-third::before {
    content: '';
    position: absolute;
    top: -25px;
    left: -117px;
    width: 350px;
    height: 5px;
    background: #1f3770;
    transform: rotate(95deg);
    z-index: 0;
    transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -ms-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
}

.line-third::after {
    content: '';
    position: absolute;
    top: 190px;
    left: -280px;
    width: 330px;
    height: 5px;
    background: #1f3770;
    transform: rotate(-15deg);
    z-index: 0;
    transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -ms-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
}

.stages__item:first-child:hover ~ .line-first::before,
.stages__item:first-child:hover ~ .line-first::after {
    background: hsla(283, 30%, 49%, 1);
}

.stages__item:nth-child(2):hover ~ .line-second::before,
.stages__item:nth-child(2):hover ~ .line-second::after {
    background: hsla(186, 40%, 49%, 1);
}

.stages__item:nth-child(3):hover ~ .line-third::before,
.stages__item:nth-child(3):hover ~ .line-third::after {
    background: hsla(0, 50%, 49%, 1);
}

.stages__item:first-child:hover > .stage__logo::after {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(168,14,170,0.7); 
    box-shadow: 0px 0px 30px 10px rgba(168,14,170,0.7);
}

.stages__item:nth-child(2):hover > .stage__logo::after {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(1, 212, 237, 0.7); 
    box-shadow: 0px 0px 30px 10px rgba(1, 212, 237, 0.7); 
}

.stages__item:nth-child(3):hover > .stage__logo::after {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(237,37,37,0.7); 
    box-shadow: 0px 0px 30px 10px rgba(237,37,37,0.7); 
}


.stages__block {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stages__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.stages__content {
    margin-left: 20%;
    width: 35%;
    min-width: 20%;
    max-width: 50%;
}


.stages__header {
    font-size: 30px;
    line-height: 45px;
    margin: 60px 0 60px -50px;
    position: relative;
    z-index: 10;
}

.stages__item {
    position: relative;
    margin-right: 100px;
    margin-bottom: 35px;
    z-index: 10;
    cursor: default;
}

.stage__logo {
    position: absolute;
    top: 40px;
    left: -45px;
    z-index: 1;
}

.stage__logo:after {
    position: absolute;
    top: -10px;
    left: -7px;
    content: '';
    width: 1px;
    height: 1px;
    background: white;
    border: 20px solid white;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s ease-in-out all;
    -o-transition: 0.3s ease-in-out all;
    -ms-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    -webkit-transition: 0.3s ease-in-out all;
}

.stage__header {
    margin: 30px 0 10px 0;
}

.stage__report-logo {
    fill: #09215a;
}

.stage__necessary-logo {
    margin-left: 3px;
}

.stage__analysis-logo {
    /* margin-left: 1px; */
    margin-top: 2px;
}

.stages__video-wrapper {
    width: 35%;
}
.stages__video {
    width: 100%;
    margin-bottom: -10px;
    /* height: 50%; */
    /* max-height: 700px; */
    filter: opacity(50%);
}

.service {
    background: #f5f5f5;
    overflow: hidden;
}

.service .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 130px 0;
}

.service__information {
    display: flex;
    margin-bottom: 60px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service__header {
    color: #082362;
    font-size: 30px;
    line-height: 45px;
    /* min-width: 370px; */
    margin-right: 30px;
}

.service__text {
    color: #707070;
    width: 70%;
}

.service__list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.service__item {
    margin: 15px;
    border: 2px solid #e0e4ef;
    z-index: 10;
    background-color: white;
}

.ticket {
    width: 325px;
    min-height: 240px;
    padding: 30px 50px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    color: #111c39;
    transition: 0.15s ease-in-out all;
    -o-transition: 0.15s ease-in-out all;
    -ms-transition: 0.15s ease-in-out all;
    -moz-transition: 0.15s ease-in-out all;
    -webkit-transition: 0.15s ease-in-out all;
}

.ticket__icon svg path {
    fill: #111c39;
}

.ticket__header {
    margin-left: 15px;
}

.service__item:hover {
    background: #111c39;
    color: white;
    border: 2px transparent solid;
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.ticket:hover .ticket__icon svg path {
    fill: white;
}

.ticket__header-wrapper {
    display: flex;
    margin-bottom: 10px;
    /* justify-content: space-between; */
}

.ticket__text {
    color: #707070;
}

.service__item:hover .ticket__text {
    color: #c4c4c4;
}

.service__circle {
    position: relative;
}

.service__circle--1::after {
    content: '';
    width: 320px;
    height: 320px;
    background: transparent;
    border: 3px solid #e9eaed;
    border-radius: 50%;
    top: -290px;
    right: -200px;
    position: absolute;
    z-index: 0;
}
.service__circle--2::after {
    content: '';
    width: 380px;
    height: 380px;
    background: transparent;
    border: 3px solid #e9eaed;
    border-radius: 50%;
    top: -330px;
    right: -210px;
    position: absolute;
    z-index: 0;
}
.service__circle--3::after {
    content: '';
    width: 440px;
    height: 440px;
    background: transparent;
    border: 3px solid #e9eaed;
    border-radius: 50%;
    top: -370px;
    right: -220px;
    position: absolute;
    z-index: 0;
}
.service__circle--4::after {
    content: '';
    width: 500px;
    height: 500px;
    background: transparent;
    border: 3px solid #e9eaed;
    border-radius: 50%;
    top: -410px;
    right: -230px;
    position: absolute;
    z-index: 0;
}

.stats {
    position: relative;
    /* outline: 1px solid red; */
    color: white;
    background: rgba(8,35,98,0.8);
}

.stats::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background: url("../img/handshake.png") no-repeat;
    -moz-background-size: cover; 
    -webkit-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.stats__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 80px 0;
}

.stats__item {
    margin-right: 40px;
}

.stats__item:last-child {
    margin-right: 0;
}

.statistic__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #8f9ab6;
    align-items: center;
}

.statistic__numbers {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    color: white;
    margin-bottom: 10px;
}

.statistic__header {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.statistic__description {
    text-align: center;
}

.team .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 160px 0;
}

.team__wrapper {
    /* display: flex;
    flex-direction: column; */
    display: block;
    padding: 40px 0;
    width: 310px;
    min-width: 220px;
    float: left;
    height: 400px;
}

.team__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 0;
    width: 60%;
    /* max-width: 60%; */
}

.team__header {
    font-size: 30px;
    line-height: 45px;
    color: #082362;
    margin-bottom: 30px;
}

.team__description {
    color: #6b6b6b;
}

.team__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 45px;
    margin: 30px 0;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    background-color: #0c245d;
}

.team__item {
    width: 240px;
    height: 370px;
    margin: 20px 15px;
    border: 1px solid green;
}

.employee__block {
    display: flex;
    flex-direction: column;
}

